<p id="notice"><%= notice %></p>

<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Category</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Supplier</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "product", collection: @products %>
  </tbody>
</table>

<br>

